@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    background-color: #F2F5F8;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 2.5rem;
    padding: 1rem 0 0.9rem;
}

@layer components {
    .input-search-box {
        @apply indent-4 w-1/2 outline outline-1 outline-gray-300 p-1 rounded-sm focus:outline-2 focus:bg-gray-200 focus:outline-0
    }

    .input-field {
        @apply border border-gray-300 rounded py-1 px-2 mb-6
    }

    .form-label {
        @apply mb-2 text-base 
    }
}

.login-form-container {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    height: max-content;
    width: 32%;
}
.product-container {
    height: max-content;
    width: 200px;
}
.product-image {
    display: inline-block;
    height: 170px;
    object-fit: contain;
    width: 100%;
}

.form-logo {
    margin: 0 auto 2rem;
}